Analyze_Video.json
{
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "gaming-shorts-gemini",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "Download with yt-dlp",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "command": "yt-dlp -f mp4 -o '/data/video.mp4' {{$json[\"body\"][\"url\"]}}"
      }
    },
    {
      "id": "3",
      "name": "Extract Audio",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "command": "ffmpeg -y -i /data/video.mp4 -vn -acodec mp3 /data/audio.mp3"
      }
    },
    {
      "id": "4",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "resource": "audioTranscription",
        "operation": "create",
        "model": "whisper-1",
        "binaryProperty": "data"
      }
    },
    {
      "id": "5",
      "name": "Gemini Clip Selector (Gaming)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.generativeai.googleapis.com/v1/models/gemini-2.5-pro:generateContent",
        "headers": {
          "Authorization": "Bearer {{$env.GEMINI_API_KEY}}",
          "Content-Type": "application/json"
        },
        "body": {
          "prompt": "You are analyzing a transcript of a gaming video with timestamps. Your job is to pick the most viral-worthy clips for YouTube Shorts (<60s). Focus on funny reactions, clutch wins, epic fails, or emotional highlights. Return up to 3 clips. Each clip must be <60 seconds, include 2-3 seconds before the action, and output JSON in this format: {\"clips\":[{\"start\":..,\"end\":..,\"reason\":..}]}. Transcript: {{$json[\"text\"]}}"
        },
        "jsonParameters": true
      }
    },
    {
      "id": "6",
      "name": "Split Clips",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1500, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "7",
      "name": "Clip with FFmpeg",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1750, 300],
      "parameters": {
        "command": "ffmpeg -y -i /data/video.mp4 -ss {{$json[\"start\"]}} -to {{$json[\"end\"]}} -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2\" -c:a copy /data/clip_{{$json[\"start\"]}}_{{$json[\"end\"]}}.mp4"
      }
    },
    {
      "id": "8",
      "name": "Gemini Metadata Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.generativeai.googleapis.com/v1/models/gemini-2.5-pro:generateContent",
        "headers": {
          "Authorization": "Bearer {{$env.GEMINI_API_KEY}}",
          "Content-Type": "application/json"
        },
        "body": {
          "prompt": "Generate a catchy YouTube Shorts title, description, and 5 trending gaming hashtags for this clip. Output JSON: {\"title\":..., \"description\":..., \"tags\":...}. Clip reason: {{$json[\"reason\"]}}"
        },
        "jsonParameters": true
      }
    },
    {
      "id": "9",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.googleYouTube",
      "typeVersion": 1,
      "position": [2250, 300],
      "credentials": {
        "googleYouTubeOAuth2Api": "YOUR_YOUTUBE_OAUTH"
      },
      "parameters": {
        "operation": "uploadVideo",
        "binaryProperty": "data",
        "title": "={{$json[\"choices\"][0][\"candidate\"].title}}",
        "description": "={{$json[\"choices\"][0][\"candidate\"].description}}",
        "tags": "={{$json[\"choices\"][0][\"candidate\"].tags}}",
        "privacyStatus": "public"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node":"Download with yt-dlp","type":"main","index":0}]]
    },
    "Download with yt-dlp": {
      "main": [[{"node":"Extract Audio","type":"main","index":0}]]
    },
    "Extract Audio": {
      "main": [[{"node":"Transcribe Audio","type":"main","index":0}]]
    },
    "Transcribe Audio": {
      "main": [[{"node":"Gemini Clip Selector (Gaming)","type":"main","index":0}]]
    },
    "Gemini Clip Selector (Gaming)": {
      "main": [[{"node":"Split Clips","type":"main","index":0}]]
    },
    "Split Clips": {
      "main": [[{"node":"Clip with FFmpeg","type":"main","index":0}]]
    },
    "Clip with FFmpeg": {
      "main": [[{"node":"Gemini Metadata Generator","type":"main","index":0}]]
    },
    "Gemini Metadata Generator": {
      "main": [[{"node":"Upload to YouTube","type":"main","index":0}]]
    }
  }
}
