workflow.json
{
  "name": "PS5 AI Highlight → Shorts + GCS Backup",
  "nodes": [
    {
      "parameters": {
        "functionCode": "return [{ json: { channelId: \"YOUR_CHANNEL_ID\" } }];"
      },
      "name": "Set Channel ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "list",
        "part": "snippet,contentDetails",
        "maxResults": 1,
        "order": "date",
        "filters": {
          "channelId": "={{$json[\"channelId\"]}}"
        }
      },
      "name": "Get Latest PS5 Video",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "youtubeOAuth2": "YOUR_YOUTUBE_OAUTH"
      }
    },
    {
      "parameters": {
        "command": "yt-dlp -f 'best[height<=480]' -o /tmp/video_low.mp4 {{$json[\"id\"][\"videoId\"]}}"
      },
      "name": "Download Low-res for Analysis",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "https://videointelligence.googleapis.com/v1/videos:annotate",
        "authentication": "serviceAccount",
        "sendBody": true,
        "jsonParameters": true,
        "options": {},
        "body": {
          "inputUri": "gs://YOUR_TEMP_BUCKET/video_low.mp4",
          "features": ["SHOT_CHANGE_DETECTION"]
        }
      },
      "name": "Google Video Intelligence - Scene Detect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "googleApi": {
          "serviceAccountEmail": "YOUR_SERVICE_ACCOUNT_EMAIL",
          "privateKey": "YOUR_PRIVATE_KEY"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const shots = $json.annotationResults[0].shotAnnotations;\nlet longest = {duration: 0};\nfor (const s of shots) {\n  const start = parseFloat(s.startTimeOffset.seconds || 0) + parseFloat(s.startTimeOffset.nanos || 0) / 1e9;\n  const end = parseFloat(s.endTimeOffset.seconds || 0) + parseFloat(s.endTimeOffset.nanos || 0) / 1e9;\n  const dur = end - start;\n  if (dur > longest.duration) longest = {start, end, duration: dur};\n}\nreturn [{json: longest}];"
      },
      "name": "Find Longest Scene",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "command": "yt-dlp -f 'bestvideo+bestaudio' -o /tmp/video_full.mp4 {{$json[\"id\"][\"videoId\"]}} && ffmpeg -i /tmp/video_full.mp4 -ss {{$json[\"start\"]}} -to {{$json[\"end\"]}} -vf \"scale=1080:1920,setsar=1:1\" -c:v libx264 -c:a aac /tmp/short.mp4"
      },
      "name": "Download Full-res & Clip",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "url": "https://storage.googleapis.com/upload/storage/v1/b/YOUR_BUCKET_NAME/o?uploadType=media&name=shorts/{{$json[\"id\"][\"videoId\"]}}.mp4",
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      },
      "name": "Upload to GCS Bucket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1750, 150],
      "credentials": {
        "googleApi": {
          "serviceAccountEmail": "YOUR_SERVICE_ACCOUNT_EMAIL",
          "privateKey": "YOUR_PRIVATE_KEY"
        }
      }
    },
    {
      "parameters": {
        "videoPath": "/tmp/short.mp4",
        "title": "PS5 Highlight",
        "description": "Auto-clipped PS5 highlight.",
        "tags": ["PS5", "Gaming", "Shorts"],
        "privacyStatus": "public"
      },
      "name": "Upload to YouTube Shorts",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1750, 450],
      "credentials": {
        "youtubeOAuth2": "YOUR_YOUTUBE_OAUTH"
      }
    }
  ],
  "connections": {
    "Set Channel ID": {
      "main": [
        [{ "node": "Get Latest PS5 Video", "type": "main", "index": 0 }]
      ]
    },
    "Get Latest PS5 Video": {
      "main": [
        [{ "node": "Download Low-res for Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Download Low-res for Analysis": {
      "main": [
        [{ "node": "Google Video Intelligence - Scene Detect", "type": "main", "index": 0 }]
      ]
    },
    "Google Video Intelligence - Scene Detect": {
      "main": [
        [{ "node": "Find Longest Scene", "type": "main", "index": 0 }]
      ]
    },
    "Find Longest Scene": {
      "main": [
        [{ "node": "Download Full-res & Clip", "type": "main", "index": 0 }]
      ]
    },
    "Download Full-res & Clip": {
      "main": [
        { "node": "Upload to GCS Bucket", "type": "main", "index": 0 },
        { "node": "Upload to YouTube Shorts", "type": "main", "index": 0 }
      ]
    }
  }
}
